<!-- CTA Section -->
<div class="bg-white">
  <div class="max-w-4xl mx-auto py-16 px-4 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">Prêt à nous faire confiance ?</span>
      <span class="block bg-gradient-to-r from-red-700 to-yellow-600 bg-clip-text text-transparent">Appelez-nous ou envoyez-nous un message</span>
    </h2>
    <div class="mt-6 space-y-4 sm:space-y-0 sm:flex sm:space-x-5">
      <a href="tel:+33467624858" class="flex items-center justify-center bg-gradient-to-r from-red-700 to-yellow-600 bg-origin-border px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white hover:from-red-700 hover:to-red-700">
        04 67 62 48 58
      </a>
      <a href="#" class="flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-red-800 bg-red-50 hover:bg-red-100">
        Faire une demande
      </a>
    </div>
  </div>
</div>