<!-- Gradient Feature Section -->
<div class="bg-gradient-to-r from-red-800 to-red-700">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white tracking-tight">
      Formations
    </h2>
    <p class="mt-4 max-w-3xl text-lg text-red-200">
      Un système de prévention n'est efficace que si les personnes qui l'utilisent au quotidien sont bien formées. Ainsi, les personnels formés par nos soins profitent de notre expérience et expertise pour être le plus efficaces possibles le moment venu ou lors des exercices obligatoires.
    </p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-3 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      <div class="text-white">
        <h3 class="text-xl font-black mb-8">Formation du personnel <br> Manipulation</h3>  
        <p>Manipulation des extincteurs à eau et à dioxyde de carbone.</p>
        <p class="mt-6"><%= link_to "Faire une demande", '#', class: "bg-black text-white rounded-md px-4 py-2" %>
      </div>
        
      <div class="text-white">
        <h3 class="text-xl font-black mb-8">Formation du personnel <br> Equipier de 1<sup>ère</sup> intervention</h3>
        <p>Les moyens de lutte : Les 5 classes de feu, les agents extincteurs, les procédés d'extinction.</p>
        <p class="mt-6"><%= link_to "Faire une demande", '#', class: "bg-black text-white rounded-md px-4 py-2" %>
      </div>
        
      <div class="text-white">
        <h3 class="text-xl font-black mb-8">Formation du personnel <br> Evacuation</h3>
        <p>Avoir l’avis d’un expert en sécurité sur les points forts et faibles de l’organisation de l’évacuation de votre établissement.</p>
        <p class="mt-6"><%= link_to "Faire une demande", '#', class: "bg-black text-white rounded-md px-4 py-2" %>
      </div>
    </div>
  </div>
</div>